<!doctype html>
<html class="a-no-js" data-19ax5a9jf="dingo">

<head>
	<meta charset="utf-8" />
	<title dir="ltr">i4sens Sign-In</title>
	<link rel="stylesheet"
		href="https://images-na.ssl-images-amazon.com/images/I/61A6IErPNXL._RC|11Fd9tJOdtL.css,11tfezETfFL.css,31Q3id-QR0L.css,31U9HrBLKmL.css_.css?AUIClients/AmazonUI#us.not-trident" />
	<link rel="stylesheet"
		href="https://images-na.ssl-images-amazon.com/images/I/01SdjaY0ZsL._RC|31jdWD+JB+L.css,41DBI6BbFkL.css_.css?AUIClients/AuthenticationPortalAssets" />
	<link rel="stylesheet"
		href="https://images-na.ssl-images-amazon.com/images/I/11qeL1AgUGL.css?AUIClients/CVFAssets" />
</head>

<body
	class="ap-locale-en_US a-m-us a-aui_72554-c a-aui_button_aria_label_markup_348458-c a-aui_csa_templates_buildin_ww_exp_337518-c a-aui_csa_templates_buildin_ww_launch_337517-c a-aui_csa_templates_declarative_ww_exp_337521-c a-aui_csa_templates_declarative_ww_launch_337520-c a-aui_dynamic_img_a11y_markup_345061-c a-aui_mm_desktop_exp_291916-c a-aui_mm_desktop_launch_291918-c a-aui_mm_desktop_targeted_exp_291928-c a-aui_mm_desktop_targeted_launch_291922-c a-aui_pci_risk_banner_210084-c a-aui_preload_261698-c a-aui_rel_noreferrer_noopener_309527-c a-aui_template_weblab_cache_333406-c a-aui_tnr_v2_180836-c">
	<img height="1" width="1" style='display:none;visibility:hidden;' src='//fls-na.amazon.com/1/batch/1/OP/ATVPDKIKX0DER:135-5284785-4843911:CVBSMQCQWE1BH526S59G$uedata=s:%2Fap%2Fuedata%3Fstaticb%26id%3DCVBSMQCQWE1BH526S59G:0' alt="" onload="window.ue_sbl && window.ue_sbl();"/>
	<div id="a-page">
		<script type="a-state" data-a-state="{&quot;key&quot;:&quot;a-wlab-states&quot;}">{}</script>
		<div class="a-section a-padding-medium auth-workflow">
			<div class="a-section a-spacing-none auth-navbar">
				<div class="a-section a-spacing-medium a-text-center">
					<a class="a-link-nav-icon" tabindex="-1" href="/ref=ap_frn_logo">
						<i class="a-icon a-icon-logo" role="img" aria-label="i4sens"></i>
					</a>
				</div>
			</div>
			<div id="authportal-center-section" class="a-section">
				<div id="authportal-main-section" class="a-section">
					<div class="a-section a-spacing-base auth-pagelet-container">
						<div id="auth-cookie-warning-message" class="a-box a-alert a-alert-warning">
							<div class="a-box-inner a-alert-container">
								<h4 class="a-alert-heading">Please Enable Cookies to Continue</h4>
								<i class="a-icon a-icon-alert"></i>
								<div class="a-alert-content">
									<p>
										<a class="a-link-normal"
											href="/gp/help/customer/display.html/ref=ap_cookie_error_help?">
										</a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="a-section auth-pagelet-container">
						<div class="a-section a-spacing-base">
							<div class="a-section">
								<form name="signIn" method="post" action="">
									<div class="a-section">
										<div class="a-box">
											<div class="a-box-inner a-padding-extra-large">
												<h1 class="a-spacing-small">
													Log-In
												</h1>
												<div class="a-row a-spacing-base">
													<label for="username" class="a-form-label">username</label>
													<input type="username" maxlength="128" id="username" name="username" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field"/></br></br>
                                                    <label for="password" class="a-form-label">password</label>
                                                    <input type="password" maxlength="128" id="password" name="password" tabindex="1" class="a-input-text a-span12 auth-autofocus auth-required-field"/>
													<div id="auth-username-missing-alert"
														class="a-box a-alert-inline a-alert-inline-error auth-inlined-error-message a-spacing-top-mini"
														aria-live="assertive" role="alert">
														<div class="a-box-inner a-alert-container">
															<i class="a-icon a-icon-alert"></i>
															<div class="a-alert-content">username</div>
														</div>
													</div>
												</div>
												<input type="hidden" name="create" value="0"/>
												<div class="a-section">
													<span id="continue" class="a-button a-button-span12 a-button-primary"><span class="a-button-inner"><input id="continue" tabindex="5" class="a-button-input" type="submit" aria-labelledby="continue-announce"/><span id="continue-announce" class="a-button-text" aria-hidden="true">
              Continue
            </span></span></span>
													<div id="legalTextRow"
														class="a-row a-spacing-top-medium a-size-small">
														By continuing, you agree to i4sens's Condition and Privacy Policy
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="a-divider a-divider-break">
								<h5>New to i4sens?</h5>
							</div>
							<span id="auth-create-account-link" class="a-button a-button-span12 a-button-base"><span class="a-button-inner"><a id="createAccountSubmit" tabindex="6" href="{{url_for('register')}}" class="a-button-text" role="button">Create your account</a></span></span>
						</div>
					</div>
				</div>
			</div>
			<div id="right-2">
			</div>
			<div class="a-section a-spacing-top-extra-large auth-footer">
	                <span class="a-size-mini a-color-secondary">
                        <p>&nbsp;&ensp;&emsp;© 2021, i4sens.com, Inc. or its affiliates</p>
                        </span>
				</div>
			</div>
		</div>
		<div id="auth-external-javascript" class="auth-external-javascript" data-external-javascripts="">
		</div>
	</div>
	<div id='be' style="display:none;visibility:hidden;">
		<form name='ue_backdetect' action="get"><input type="hidden" name='ue_back' value='1' /></form>
	</div>
	<noscript>
		<img height="1" width="1" style='display:none;visibility:hidden;' src='//fls-na.amazon.com/1/batch/1/OP/ATVPDKIKX0DER:135-5284785-4843911:CVBSMQCQWE1BH526S59G$uedata=s:%2Fap%2Fuedata%3Fnoscript%26id%3DCVBSMQCQWE1BH526S59G:0' alt=""/>
</noscript>

&ensp;&emsp;<a href = "{{url_for('logout')}}"><button>Logout</button></a>
</body>

</html>