<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<h1>Welcome To DashBoard Page</h1>
<p>
    {% if current_user.is_authenticated %}
      {% if current_user.is_active %}
        Hi {{ current_user.username }}!
      {% endif %}
    {% endif %}
</p></br>

   {% if current_user.role == 'admin' %}
      Register New Users!
     &ensp;&emsp;<a href = "{{url_for('register')}}"><button>Register</button></a>
     &emsp;<a href = "{{url_for('retrieveuserlist')}}"><button>List All Users</button></a>
     &emsp;<a href = "{{url_for('logout')}}"><button>Logout</button></a>
   {% else %}
     <a href = "{{url_for('update')}}"><button>Update</button></a>
     &emsp;<a href = "{{url_for('logout')}}"><button>Logout</button></a>
   {% endif %}
</body>
</html>