<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<h1>Welcome</h1>
<p>
    {% if current_user.is_authenticated %}
      {% if current_user.is_active %}
        Hi {{ current_user.username }}!
      {% endif %}
    {% endif %}
    You can find all your Information
</p></br>

   {% if current_user.role == 'Admin' %}
     <a href = "{{url_for('role')}}"><button>Role</button></a>
   {% endif %}

<a href = "{{url_for('logout')}}"><button>Logout</button></a>
</body>
</html>