<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Registered Users</h1>
{% for user in users %}
<p>
    {{user.id}}
    {{user.username}}
    {{user.role}}
    &ensp;&emsp;<a href = "{{url_for('edit',id=user['id'])}}"><button>Edit</button></a>
    &ensp;&emsp;<a href = "{{url_for('delete',id=user['id'])}}"><button>Delete</button></a>
</p><hr>
{% endfor %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;&ensp;&emsp;<a href = "{{url_for('dashboard')}}"><button>Back</button></a>
</body>
</html>
